<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ca1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
<permission
   android:name="com.example.ca1.permission.MAPS_RECEIVE"
   android:protectionLevel="signature"/>
<uses-permission android:name="com.example.ca1.permission.MAPS_RECEIVE"/>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    <uses-permission
   android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
 <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission
   android:name="android.permission.ACCESS_COARSE_LOCATION"/>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.ca1.SplashScreen"
            android:label="@string/app_name"
             android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ca1.ImageCaptureActivity"/>
        <activity 
            android:name="com.example.ca1.ImageDetailsActivity"
            />
        <activity android:name="com.example.ca1.MainActivity"/>
        <activity android:name="com.example.ca1.MapsActivity"/>
         <meta-data android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAD8WYydwVKFTsUFc9Y84Iz23qei80LsnU"/>
    </application>

</manifest>
